
*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    height: 100vh;  /* viewport height  */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 50px ;
    padding: 20px;
}
#clock {
    font-size: 100px ;
    width: 100vw;
}
#date{
    font-size: 50px ;
    width: 100vw;  /* viewport width */
}
button{
    background-color: white;
    color: black;
    padding: 10px 20px;  /* left top right bottom  */ 
    margin: 10px 20px;
    font-size: 25px;
    border-radius: 5px;
}